footer {
    background-color: #0f172a;
    color: white;
    padding: 4rem 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.footer-container {
    max-width: 800px;
    width: 100%;

    display: grid;
    gap: 1rem;
}

.datos-contacto {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.datos-contacto p {
    background-color: #1e293b;
    padding: 0.8rem 1rem;
    border-radius: 8px;
}